*~
*.pdf
*.root
*.png
*.gif
*.pyc
*.doc
*.log
*.tar.gz
*.zip
#*#
PSO_output_*/
output_*/
Particles/
InitData/Particle
PSO/Particle
*_C.d
*_C.so
*_C_ACLiC_dict_rdict.pcm
tmp.txt
PSO_input
FlavourTag500IFIC_dEdx_eLpR_catA/
FlavourTag500IFIC_dEdx_eLpR_catB/
FlavourTag500IFIC_dEdx_eLpR_catC/
FlavourTag500IFIC_dEdx_eLpR_catD/
FlavourTag500IFIC_eLpR_catA/
FlavourTag500IFIC_eLpR_catB/
FlavourTag500IFIC_eLpR_catC/
FlavourTag500IFIC_eLpR_catD/